.main_div{
  min-height: 100vh;
  min-width: 90%;
  display: flex;
  justify-content: center;
  /* background-image: url('../public/362dea41a2c274c4fdd91f0107783e45.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}  