@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
  }

  html {
    font-size: 62.5%;
  }
.search_div{
      height: 55px;
      width: 90vh;
      margin-top: 50px;
      border: 0.1rem solid #ccc;
      border-radius: 0.4rem;
      background-color: white;
  }
.input_box{
    height: 50px;
    width: 80vh;
    font-size: 2.1rem;
    padding: 2.5rem 1.2rem;
}
input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
#fa-search{
    font-size:24px;
    margin-left: 3%;
    color: #ccc;
}
.elem_div{
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}
.child_div{
    height: 50px;
    width: 100%;
    border: 1px solid blue;
    display: flex;
}
.add_btn{
    height: 50px;
    width: 20%;
    /* border: 1px solid rgb(0, 0, 34); */
    margin-left: 20%;
}
.add_btn i{
font-size: 24px;
}
.wish_list{
    height: 100px;
    width: 50%;
    border: 1px solid green;
}