/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
  }

.search_div{
      height: 55px;
      width: 120vh;
      margin-top: 50px;
      border: 0.1rem solid #ccc;
      border-radius: 0.4rem;
      background-color: white;
  }
.input_box{
    height: 50px;
    width: 80vh;
    font-size: 1.5rem;
    padding: 1.5rem 1.2rem;
}
input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 1.5rem 1.5rem;
  outline: none;
}
#fa-search{
    font-size:24px;
    margin-left: 3%;
    color: #ccc;
}
.name_div{
    height: 8vh;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid blue; */
    display: flex;
}
.name{
    height: 8vh;
    width: 15%;
    /* border: 1px solid rgb(250, 7, 209); */
    font-weight: 900;
    font-size: 15px;
    /* color: white; */
}
.Icons{
    height: 8vh;
    width: 20%;
    /* border: 1px solid rgb(250, 7, 209); */
    display: flex;
    margin-left: 55%;
    padding: 1em;
}
#pen{
    font-size: 20px;
}
#trash1{
    margin-top: 1px;
    margin-left: 20%;
    color: red;
}
.elem_div{
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
}
.elem_div::-webkit-scrollbar {
    width: 5px;
}
.elem_div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.elem_div::-webkit-scrollbar-thumb {
    background: rgb(0, 195, 255); 
    border-radius: 10px;
}
.elem_div::-webkit-scrollbar-thumb:hover {
    background: #fa0303; 
}
.child_div{
    height: 50px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    margin-top: 25px;
    /* color: white; */
}
.brandName{
    height: 50px;
    width: 20%;
    /* border: 1px solid blue; */
}
.brandName h1{
  font-size: 20px;
  font-weight: 700;
}
.brandName h2{
    margin-top: 5px;
    /* margin-left: 5%; */
    font-weight: 500;
    font-size: 18px;
    color: rgb(54, 54, 54);
}
.add_btn{
    height: 30px;
    width: 5%;
    /* border: 1px solid rgb(0, 0, 34); */
    margin-left: 1%;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

}
.figureData{
    height: 50px;
    width: 16%;
    /* border: 1px solid rgb(0, 0, 34); */
    font-size: 12px;
    margin-left: 50%;
}
.add_btn i{
font-size: 24px;
}
.wish_list{
    height: 300px;
    width: 100%;
    /* border: 1px solid green; */
    margin-top: 20px;
}
.watch_list_name_div{
    height: 30px;
    width: 100%;
    /* border: 1px solid rgb(233, 40, 6); */
    color: rgb(21, 5, 172);
}
.myWatchlist{
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}
.myWatchlist:hover{
    color: black;
}
.watchList_main_div{
    height: 50px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    margin-top: 25px;
}
.watch_list_name_1{
    height: 50px;
    width: 20%;
    /* border: 1px solid green; */
}
.watch_list_name_1 h1{
    font-size: 20px;
    font-weight: 700;
}
.watch_list_name_1 h2{
    font-size: 18px;
    font-weight: 500;
    color: rgb(41, 40, 40);
    margin-top: 5px;
}
.watchList_main_div button{
    margin-left: 60%;
}

#trash{
    font-size: 20px;
    margin-left: 60%;
    color: red;
    margin-top: 10px;
}